<sw-page class="adminer">
    <template #smart-bar-header>
        <h2>Adminer</h2>
    </template>

    <template #content>
        <iframe v-if="apiAdminerUrl" :src="apiAdminerUrl" width="100%" height="99%" frameborder="0"></iframe>
    </template>

    <template #smart-bar-actions>
        <sw-button variant="primary" v-if="apiAdminerUrl" @click="openNewTab">
            {{ $tc('frosh-adminer.openInNewTab') }}
        </sw-button>
    </template>
</sw-page>
